<section class="center-vertical">
	<h1><%=current_user.name%>の投稿</h1>
	<div class="post center-vertical">
	
		<% @postos.each do |music| %>
		
		<div>
			<img src="<%= music.jacket %>">
			<p><%= music.artist_name %> </p>
			<a href="<%= music.url %>">サンプル</a>
			<p><%= music.comments %></p>

			<form action="/delete/<%= music.id %>" method="post">
			<input type="submit" value="Delete">
		
		
			</form>
			<a href="/edit/<%= music.id %>">Edit</a>
	
		</div>
		<p>いいねしたユーザ</p>
			<% end %>	
	
	<p>投稿がありません</p>

</section>

<section class="center-vertical">
	<h1><%= current_user.name %></h1>のイイねした投稿</h1>
	
	<% @postos.each do |music| %>
				<div>
				<img src="<%= music.jacket %>">
				<p><%= music.artist_name %> </p>
				<p><%= music.comments %></p>
				<p>投稿者<%= music.user_name %></p>
				<p>いいねしたユーザ</p>
				<%= music.user_name %> 
			
		<% end %>		
	<p>イイねがありません</p>
</section>

<section class="center-vertical">
	<h1><%=current_user.name%> のフォロー</h1>
	<a href="#">フォロー解除</a><br>
</section>

<section class="center-vertical">
	<h1><%=current_user.name%>のフォロワー</h1>
		</div>
</section>
